/* CS321: Web-Centric Programming
Shawna Banducci
Used code and style from main project css */

h1{
  color: #ffd633;
  font-family: 'Italiana', serif;
  /*font-family: 'Petit Formal Script', cursive;
  /*margin-left: 10px;*/
}
h2{
  color: #ffd633;
  font-family: 'Italiana', serif;
  /*font-family: 'Petit Formal Script', cursive;
  /*margin-left: 10px;*/
}
body{
  color: white;
  font-family: 'Raleway', sans-serif;
  background-image: url(../css/images/headerImg.jpg)
}
